@charset "utf-8";

:root, :root.green {

	--background-color: #40513B;
	--accent-color-one: #609966;
	--accent-color-two: #9DC08B;
	--main-color: #EDF1D6;
	
}

:root.pink {

	--background-color: #191825;
	--accent-color-one: #865DFF;
	--accent-color-two: #E384FF;
	--main-color: #FFA3FD;
	
}

:root.red {

	--background-color: #060047;
	--accent-color-one: #B3005E;
	--accent-color-two: #E90064;
	--main-color: #FF5F9E;
	
}

:root.blue {

	--background-color: #F6F1F1;
	--accent-color-one: #AFD3E2;
	--accent-color-two: #19A7CE;
	--main-color: #146C94;
	
}

body {
	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.1em;
	color: var(--main-color);
	background-color: var(--background-color);
	
	margin: 0px;
	padding: 0px;
	
}

main {
	
	width: min(calc(100% - 80px), 1000px);
	margin: auto;
	padding: 40px;
	
}

section {

	padding-bottom: 20px;
	
}

h1, h2, h3, h4, h5, h6 {

	font-style: italic;

}

a {
	color: var(--accent-color-two);
}

a:hover {
	color: var(--accent-color-one);
}
